<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DonorLoginServlet</servlet-name>
  	<display-name>DonorLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.charity.controller.DonorLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FundRequestServlet</servlet-name>
  	<display-name>FundRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.charity.controller.FundRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TransactionServlet</servlet-name>
  	<display-name>TransactionServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.charity.controller.TransactionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListFundRequestServlet</servlet-name>
  	<display-name>ListFundRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.charity.controller.ListFundRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DonorRegisterServlet</servlet-name>
  	<display-name>DonorRegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.charity.controller.DonorRegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.charity.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DonorLoginServlet</servlet-name>
  	<url-pattern>/DonorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FundRequestServlet</servlet-name>
  	<url-pattern>/FundRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TransactionServlet</servlet-name>
  	<url-pattern>/TransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListFundRequestServlet</servlet-name>
  	<url-pattern>/ListFundRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DonorRegisterServlet</servlet-name>
  	<url-pattern>/DonorRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>
